section(id='about' class='container container-fluid')
	div(class='row')
		div(class='col-xs-12 col-md-4')
			img(src='img/004.jpg' style="width:100%;")
		div(class='col-xs-12 col-md-8')
			h2 About Us
			p Officia nisi pariatur reprehenderit mollit ipsum labore ad. Consequat commodo ipsum duis anim est amet et aliquip proident nulla. Officia do incididunt aliqua incididunt excepteur veniam ullamco reprehenderit et mollit. Fugiat exercitation pariatur reprehenderit ullamco Lorem. Nostrud do reprehenderit occaecat dolor non veniam fugiat ad dolor. Anim sunt deserunt eu pariatur quis. Incididunt consequat amet in irure in fugiat ullamco anim incididunt nostrud qui amet reprehenderit cupidatat.
			p Ullamco pariatur incididunt officia dolore exercitation officia amet. Cupidatat labore aliqua do Lorem ut qui amet duis dolore dolor. Nulla proident ea consectetur dolore ullamco ea do. Culpa ut cillum qui est quis nisi minim excepteur et laborum laboris id. Ex adipisicing adipisicing quis sit officia adipisicing dolor laborum proident ipsum laborum.