section(id='blog')
	div(class='container container-fluid')
		div(class='list')
			div(class='post-anchor' id='post1')
				article(class='post')
					div(class='banner' style='background-image:url(img/001.jpg)')
					div(class='info')
						h3 My Phone
						p Enim elit dolore Lorem laborum esse sint exercitation cillum magna. Eiusmod cillum reprehenderit.
			div(class='post-anchor' id='post2')
				article(class='post')
					div(class='banner' style='background-image:url(img/002.jpg)')
					div(class='info')
						h3 My App
						p Est veniam minim magna exercitation qui occaecat. Id est eiusmod sit nostrud. 
			div(class='post-anchor' id='post3')
				article(class='post')
					div(class='banner' style='background-image:url(img/003.jpg)')
					div(class='info')
						h3 My Dashboard
						p Elit amet do proident eu aliqua laborum eiusmod ipsum dolor. 
			div(class='post-anchor' id='post4')
				article(class='post')
					div(class='banner' style='background-image:url(img/001.jpg)')
					div(class='info')
						h3 My Phone
						p Enim elit dolore Lorem laborum esse sint exercitation cillum magna.
			div(class='post-anchor' id='post5')
				article(class='post')
					div(class='banner' style='background-image:url(img/002.jpg)')
					div(class='info')
						h3 My App
						p Est veniam minim magna exercitation qui occaecat. Id est eiusmod sit nostrud. 
			div(class='post-anchor' id='post6')
				article(class='post')
					div(class='banner' style='background-image:url(img/003.jpg)')
					div(class='info')
						h3 My Dashboard
						p Elit amet do proident eu aliqua laborum eiusmod ipsum dolor. 
		
		div(class="controls")
			div(class='row')
				div(class='col-xs-6')
					div(class='row')
						div(class='col-xs')
							a(class='button ctrl-prev' data-icon='4' data-post='1')
				div(class='col-xs-6')
					div(class='row end-xs')
						div(class='col-xs')
							a(class='button ctrl-next' data-icon='5' data-post='2')