section(id='blog' class='container container-fluid')
	div(class='row')
		div(class='col-xs-12 col-md-6 col-lg-4')
			article(class='post')
				div(class='banner' style='background-image:url(img/001.jpg)')
				div(class='info')
					h3 My Phone
					p Enim elit dolore Lorem laborum esse sint exercitation cillum magna. Eiusmod cillum reprehenderit anim nulla velit nostrud Lorem tempor. 
		div(class='col-xs-12 col-md-6 col-lg-4')
			article(class='post')
				div(class='banner' style='background-image:url(img/002.jpg)')
				div(class='info')
					h3 My App
					p Est veniam minim magna exercitation qui occaecat. Id est eiusmod sit nostrud. Nisi ex et pariatur proident non culpa amet voluptate eiusmod. Amet nostrud nulla sint esse. 
		div(class='col-xs-12 col-md-6 col-lg-4')
			article(class='post')
				div(class='banner' style='background-image:url(img/003.jpg)')
				div(class='info')
					h3 My Dashboard
					p Elit amet do proident eu aliqua laborum eiusmod ipsum dolor. Ex nisi laborum nulla adipisicing deserunt eiusmod quis fugiat minim incididunt velit laboris irure.