section(id='brand' class='container-fluid container')
	h1 App
		span(class='magenta') .
	p Lorem quis dolor incididunt velit. Adipisicing qui laboris ex in sint est ut commodo aliquip non aliquip. Eu tempor duis incididunt ea esse sit sunt voluptate aute aliquip mollit occaecat aliquip. Lorem occaecat laborum aliqua aute ea.
	a(class='button')