section(id='menu' class='container-fluid container')
	div(class='row')
		div(class='col-xs-6 col-md-4')
			a(class='logo' href='#')
				img(src='')
		div(class='col-xs-6 col-md-8')
			nav
				ul
					li
						a(href='#blog') Blog
					li
						a(href='#pop') Popular
					li
						a(href='#arc') Archive
					li
						a(href='#about') About
			a(class='button' aria-hidden='true' data-icon='a' data-target='')