section(id='menu' class='container-fluid wrapper')
	div(class='row')
		div(class='col-xs-6 col-md-4')
			a(href="#")
				img(src="logo.svg")
		div(class='col-xs-6 col-md-8')
			nav
				ul
					li
						a(href='#blog') Blog
					li
						a(href='#pop') Popular
					li
						a(href='#arc') Archive
					li
						a(href='#about') About