section(id='topics' class='container-fluid container')
	div(class='row middle-xs')
		div(class='col-xs-12 col-sm-3')
			div(class='row center-xs end-md')
				div(class='col-xs-12')
					nav
						ul
							li
								a(href='#trend') Trending
							li
								a(href='#today') Today
		div(class='col-xs-12 col-sm-9')
			div(class='row')
				div(class='col-xs-12 col-lg-4') 
					a(href='#' data-tag='trend') Cupidatat dolore culpa tempor qui dolor proident quis ipsum. 
					a(href='#' data-tag='today') Consequat do ut non nisi dolore consequat culpa ea excepteur exercitation eiusmod.
				div(class='col-xs-12 col-lg-4') 
					a(href='#' data-tag='trend') Voluptate est exercitation nulla duis sunt do proident minim excepteur enim nulla. 
					a(href='#' data-tag='today') Deserunt eu nulla ea velit nulla. Est culpa voluptate adipisicing nisi ut.
				div(class='col-xs-12 col-lg-4') 
					a(href='#' data-tag='trend') Deserunt eu nulla ea velit nulla. Est culpa voluptate adipisicing nisi ut.
					a(href='#' data-tag='today') Voluptate est exercitation nulla duis sunt do proident minim excepteur enim nulla. 