

doctype html

html(lang="pt-br")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet")
		link(href="lib/elegant-icons/style.css", rel="stylesheet")
		link(href="lib/flexboxgrid/flexboxgrid.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		title #{siteTitle}
	body
		include ../modules/header
		block content
		include ../modules/footer