block config
	include ../conf/conf

doctype html

html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="css/style.css", rel="stylesheet")
		title #{siteTitle}
	body
		include ../modules/header
		block content
		include ../modules/footer
		script(src="js/app.js")