doctype html

html(lang="pt-br")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet")
		link(href="lib/elegant-icons/style.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		title #{siteTitle}
	body
		header(style='background-image: url(img/005.jpg)')
			include modules/menu
			include modules/hero
			include modules/topics
		main
			include modules/blog
			include modules/about
		footer
			include modules/footer
		script(src='js/app.js')